pip
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
pytest
black
isort
fsspec
pooch
boto3
jupytext
nbclient
pytest-cov
pytest-xdist
pytest-mock
myst-nb
sphinx-copybutton
sphinx-favicon
pydata-sphinx-theme
itables
