pip
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
pytest
black
isort
fsspec
pooch
boto3
nbval
pytest-cov
pytest-xdist
pytest-mock
myst-parser
sphinx-copybutton
sphinx-favicon
nbsphinx
pydata-sphinx-theme
itables
